<!DOCTYPE html>
<html>
  <head>
      <title>Hi</title>
   
  </head>

  <body>

    <h1>
        File upload
    </h1>
    <%= typeof msg !='undefined' ? msg : "" %>
   
<form action="/uploads" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input name= "myimage" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button type="submit" class="submitButton ">
Submit
    </button>
  </form>
   <img src="<%= typeof file !='undefined' ? file : ''  %>" style="
     height:300px;width:300px;
   "></img>
   
  </body>
</html>